<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculadora Sustentável</title>
  </head>
  <body>
    <h1>Calculadora Sustentável</h1>
    <form method="POST" action="/calcular">
      <h3>Chuveiro</h3>
      <label>Tempo médio de banho (min):</label>
      <input type="number" name="tempobanho" step="0.1" required /><br />
      <label>Número de banhos por dia:</label>
      <input type="number" name="qtdebanho" required /><br />

      <h3>Torneira</h3>
      <label>Tempo para lavar as mãos (min):</label>
      <input type="number" name="tempo_maos" step="0.1" required /><br />
      <label>Frequência para lavar as mãos:</label>
      <input type="number" name="vezes_maos" required /><br />
      <label>Tempo para escovar os dentes (min):</label>
      <input type="number" name="tempo_dentes" step="0.1" required /><br />
      <label>Frequência para escovar os dentes:</label>
      <input type="number" name="vezes_dentes" required /><br />
      <label>Tempo para lavar louça (min):</label>
      <input type="number" name="tempo_louca" step="0.1" required /><br />
      <label>Frequência para lavar louça:</label>
      <input type="number" name="vezes_louca" required /><br />
      <label>Torneira:</label>
      <select name="arejador" required>
        <option value="1">Com arejador</option>
        <option value="2">Sem arejador</option></select
      ><br />

      <h3>Descarga</h3>
      <label>Número de descargas por dia:</label>
      <input type="number" name="qtd_descarga" required /><br />

      <h3>Conta</h3>
      <label>Volume atual da fatura (m³):</label>
      <input type="number" name="volumeatual" step="0.1" required /><br />
      <label>Valor atual da conta (R$):</label>
      <input type="number" name="reais_atual" step="0.01" required /><br />
      <label>Categoria:</label>
      <select name="categoria" required>
        <option value="1">Residencial Social</option>
        <option value="2">Residencial Popular</option>
        <option value="3">Residencial Normal</option></select
      ><br />

      <button type="submit">Calcular</button>
    </form>
  </body>
</html>
