<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Resultados</title>
  </head>
  <body>
    <h1>Resultados</h1>
    <p>Consumo no chuveiro: {{ consumo_chuveiro }} L</p>
    <p>Desperdício no chuveiro: {{ desperdicio_chuveiro }} L</p>
    <p>Economia no chuveiro: {{ economia_chuveiro }} L</p>

    <p>Consumo na torneira: {{ consumo_torneira }} L</p>
    <p>Desperdício na torneira: {{ desperdicio_torneira }} L</p>
    <p>Economia na torneira: {{ economia_torneira }} L</p>

    <p>Consumo na descarga: {{ consumo_descarga }} L</p>
    <p>Desperdício na descarga: {{ desperdicio_descarga }} L</p>
    <p>Economia na descarga: {{ economia_descarga }} L</p>

    <h3>Fatura</h3>
    <p>Fatura de água: R$ {{ custo_agua }}</p>
    <p>Fatura de esgoto: R$ {{ custo_esgoto }}</p>
    <p>Total: R$ {{ total }}</p>
    <p>Economia esperada: R$ {{ economia }}</p>
    <p>Cálculo realizado com sucesso!</p>
    <nav>
      <ul>
        <li><a href="Home.html">Home</a></li>
        <li><a href="contact.html">Contato EmpresaGreenTec</a></li>
      </ul>
    </nav>
  </body>
</html>
